// stats


.left_stats {
	float: left;
	
	position: relative;
	top: 350px;
	left: 470px;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}


	#possession_a {
		font-size: 1.4em;
		display: block;
		padding-bottom: 29px;
		text-align: center;
	}
	
	#carries_a {
		font-size: 1.4em;
		display: block;
		padding-bottom: 29px;
		text-align: center;
	}
	#tackles_a {
		font-size: 1.4em;
		display: block;
		padding-bottom: 27px;
		text-align: center;
	}
	#metres_a {
		font-size: 1.4em;
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	#penalties_a {
		font-size: 1.4em;
		display: block;
		padding-bottom: 29px;
		text-align: center;
	}
	#territory_a {
		font-size: 1.4em;
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}




.right_stats {
	float: right;
	font-size: 1.4em;
	position: relative;
	top: 355px;
	left: -230px;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#possession_b {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	#carries_b {
		
		display: block;
		padding-bottom: 29px;
		text-align: center;
	}
	#tackles_b {
	
		display: block;
		padding-bottom: 29px;
		text-align: center;
	}
	#metres_b {
	
		display: block;
		padding-bottom: 29px;
		text-align: center;
	}
	#penalties_b {
	
		display: block;
		padding-bottom: 29px;
		text-align: center;
	}
	#territory_b {
	
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}





.stats{
	
	background: url(/mediafiles/statistics.png);
	background-repeat:no-repeat;
	background-size: 1920px 1080px;
	
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



.team {
	padding-left: 890px;
	padding-top: 150px;
	font-family: 'Tusker Grotesk 4600';
	font-size: 1em;
}