.stats
	
	
	//-<div class= "team"> 
	//-h2#backs9(v-html="visibleEntry.props.backs9")
	//-</div>
	<div class= "left_stats">
	span#possession_a(v-html="visibleEntry.props.possession_a")
	span#carries_a(v-html="visibleEntry.props.carries_a")
	span#tackles_a(v-html="visibleEntry.props.tackles_a")
	span#metres_a(v-html="visibleEntry.props.metres_a")
	span#penalties_a(v-html="visibleEntry.props.penalties_a")
	span#territory_a(v-html="visibleEntry.props.territory_a")
	</div>

	<div class= "right_stats">
	span#possession_b(v-html="visibleEntry.props.possession_b")
	span#carries_b(v-html="visibleEntry.props.carries_b")
	span#tackles_b(v-html="visibleEntry.props.tackles_b")
	span#metres_b(v-html="visibleEntry.props.metres_b")
	span#penalties_b(v-html="visibleEntry.props.penalties_b")
	span#territory_b(v-html="visibleEntry.props.territory_b")
	</div>

