// saracens_tries


.saracens_tries {
	span#job_title {
		font-size: 1.5em;
		display: block;
		padding-left: 50px;
	}
	h2#number_of_tries{
		display: block;
		font-size: 0.5em
		padding-left: 11px;
		padding-top: 4px;
		color: black;
		
	}
  
  background-image: url(/mediafiles/Yellow_card.png);
  background-repeat: no-repeat;
  background-size: 30px;
	
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}