// Lower Third

.player_announcement_glo {


	h2#number{
				
				
				vertical-align: middle
				text-align: center;
				float: left;
				color: black;
				font-size: 3em;
				margin: 0;
                position: absolute;
                top: 85px;
                left: 75px;
                margin-right: 50%;
                transform: translate(-50%, -50%)
	}

	h2#name{
				
				padding: 15px 0px 80px 145px;

	}

	h2#dor{
		vertical-align: middle
		text-align: center;
		color: black;
		position: absolute;
        top: 53px;
        left: 25px;
	}

	background: url(/mediafiles/gloucester_player.png);
	background-repeat: no-repeat;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}