// round4


.home {
	float: left;
	
	position: absolute;
	top: 552px;
	left 934px;
	font-size: 1.5em;
	vertical-align: middle
	text-align: center;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}


	#game1_home {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	
	#game2_home {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	#game3_home {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	#game4_home {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	#game5_home {
		display: block;
		padding-bottom: 16px;
		text-align: center;
	}




.away {
	float: left;
	position: absolute;
	top: 557px;
	left 1010px;
	font-size: 1.5em;
	vertical-align: middle
	text-align: center;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#game1_away {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	
	#game2_away {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	#game3_away {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	#game4_away {
		display: block;
		padding-bottom: 25px;
		text-align: center;
	}
	#game5_away {

		display: block;
		padding-bottom: 25px;
		text-align: center;
	}

	

.round4{
	
	background: url(/mediafiles/latestscores.png);
	background-repeat:no-repeat;
	background-size: 1920px 1080px;



}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



.team {
	padding-left: 890px;
	padding-top: 150px;
	font-family: 'Tusker Grotesk 4600';
	font-size: 1em;
}