.round4
	
	<div class="home">
	span#game1_home(v-html="visibleEntry.props.game1_home")
	span#game2_home(v-html="visibleEntry.props.game2_home")
	span#game3_home(v-html="visibleEntry.props.game3_home")
	span#game4_home(v-html="visibleEntry.props.game4_home")
	span#game5_home(v-html="visibleEntry.props.game5_home")
	</div>

	<div class="away">
	span#game1_away(v-html="visibleEntry.props.game1_away")
	span#game2_away(v-html="visibleEntry.props.game2_away")
	span#game3_away(v-html="visibleEntry.props.game3_away")
	span#game4_away(v-html="visibleEntry.props.game4_away")
	span#game5_away(v-html="visibleEntry.props.game5_away")
	</div>