// ft_holding

.ft_holding{
	.score1 {
		font-size: 2.8em;
		vertical-align: middle
		text-align: center;
		float: left;
		margin: 0;
        position: absolute;
        top: 570px;
        left: 900px;
        margin-right: 50%;
        transform: translate(-50%, -50%)
	}
	.score2{
		font-size: 2.8em;
		vertical-align: middle
		text-align: center;
		float: left;
		margin: 0;
        position: absolute;
        top: 570px;
        left: 1040px;
        margin-right: 50%;
        transform: translate(-50%, -50%)
	}
  background-image: url(/mediafiles/full_time_graphic.png);
  background-repeat: no-repeat;
 
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



