// replacements


.left_replacements {
	float: left;
	position: absolute;
	top: 360px;
	left: 375px;
	text-align: left;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}


	#rep1a {
		font-size: 1.2em;
		display: block;
		padding-bottom: 16px;
		
	}
	
	#rep2a {
		font-size: 1.2em;
		display: block;
		padding-bottom: 16px;
	
	}
	#rep3a {
		font-size: 1.2em;
		display: block;
		padding-bottom: 16px;

	}
	#rep4a {
		font-size: 1.2em;
		display: block;
		padding-bottom: 14px;
	
	}
	#rep5a {
		font-size: 1.2em;
		display: block;
		padding-bottom: 16px;

	}
	#rep6a {
		font-size: 1.2em;
		display: block;
		padding-bottom: 18px;
	}
	#rep7a {
		font-size:1.2em;
		display: block;
		padding-bottom: 15px;
	}
	#rep8a {
		font-size: 1.2em;
		display: block;
		padding-bottom: 10px;
	}



.right_replacements {
	float: right;
	position: absolute;
	top: 351px;
	right: 355px;
	text-align: left;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#rep1b {
		font-size: 1.2em;
		display: block;
		padding-top: 10px;

	}
	#rep2b {
		font-size: 1.2em;
		display: block;
		padding-top: 16px;

	}
	#rep3b {
		font-size: 1.2em;
		display: block;
		padding-top: 16px;

	}
	#rep4b {
		font-size: 1.2em;
		display: block;
		padding-top: 17px;

	}
	#rep5b {
		font-size: 1.2em;
		display: block;
		padding-top: 15px;

	}
	#rep6b {
		font-size: 1.2em;
		display: block;
		padding-top: 15px;

	}
	#rep7b {
		font-size: 1.2em;
		display: block;
		padding-top: 15px;

	}
	#rep8b {
		font-size: 1.2em;
		display: block;
		padding-top: 17px;

	}
	

.replacements{
	
	background: url(/mediafiles/substitutions.png);
	background-repeat:no-repeat;
	background-size: 1920px 1080px;



}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



.team {
	padding-left: 890px;
	padding-top: 150px;
	font-family: 'Tusker Grotesk 4600';
	font-size: 1em;
}