.replacements
	
	
	//-<div class= "team"> 
	//-h2#backs9(v-html="visibleEntry.props.backs9")
	//-</div>
	<div class= "left_replacements">
	span#rep1a(v-html="visibleEntry.props.rep1a")
	span#rep2a(v-html="visibleEntry.props.rep2a")
	span#rep3a(v-html="visibleEntry.props.rep3a")
	span#rep4a(v-html="visibleEntry.props.rep4a")
	span#rep5a(v-html="visibleEntry.props.rep5a")
	span#rep6a(v-html="visibleEntry.props.rep6a")
	span#rep7a(v-html="visibleEntry.props.rep7a")
	span#rep8a(v-html="visibleEntry.props.rep8a")
	</div>

	<div class= "right_replacements">
	span#rep1b(v-html="visibleEntry.props.rep1b")
	span#rep2b(v-html="visibleEntry.props.rep2b")
	span#rep3b(v-html="visibleEntry.props.rep3b")
	span#rep4b(v-html="visibleEntry.props.rep4b")
	span#rep5b(v-html="visibleEntry.props.rep5b")
	span#rep6b(v-html="visibleEntry.props.rep6b")
	span#rep7b(v-html="visibleEntry.props.rep7b")
	span#rep8b(v-html="visibleEntry.props.rep8b")
	</div>

