// Lower Third

.player_announcement {

	h2#team{
		display: block;
		font-size: 0.7em;
	}

	h2#number{
				display: inline;
				padding: 10px 100px 20px 10px;
				float: left;
				color: black;
				font-size: 2em;

	}

	h2#name{
				display: inline;

	}
	background: url(/mediafiles/player_announcement.png);
	background-repeat: no-repeat;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}