// holding_start

.holding_start{
	
	background: url(/mediafiles/holding_graphic.png);
	background-repeat:no-repeat;
	background-size: 1920px 1080px;
	
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



}