// ft_bug

.ft_bug{
	.score_bug_1 {
		font-size: 1.4em;
		vertical-align: middle
		text-align: center;
		float: left;
		margin: 0;
        position: absolute;
        top: 971px;
        left: 400px;
        margin-right: -50%;
        transform: translate(-50%, -50%);
	}
	.score_bug_2{
		    font-size: 1.4em;
		    vertical-align: middle
		    text-align: center;
	    	float: left;
		    margin: 0;
        position: absolute;
        top: 972px;
        left: 470px;
        margin-right: 50%;
        transform: translate(-50%, -50%)
	}
  
  background-image: url(/mediafiles/ftbug.png);
  background-repeat: no-repeat;

}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



