// Lower Third

.sars_player_announcement {

	h2#team{
		display: block;
		font-size: 0.7em;
	}

	h2#number{
				vertical-align: middle
				text-align: center;
				float: left;
				color: black;
				font-size: 3em;
				margin: 0;
                position: absolute;
                top: 933px;
                left: 407px;
                margin-right: 50%;
                transform: translate(-50%, -50%)

	}

	h2#name{
				position: absolute;
                top: 880px;
                left: 507px;

	}

	h2#dor{
		vertical-align: middle
		text-align: center;
		color: black;
		position: absolute;
        top: 908px;
        left: 360px;
	}

	background: url(/mediafiles/sars_player.png);
	background-repeat: no-repeat;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}