.sars_player_announcement
	h2#number(v-html="visibleEntry.props.number")
	h2#name(v-html="visibleEntry.props.name")
	h2#team(v-html="visibleEntry.props.team")
	h2#dor(v-html="visibleEntry.props.dor")