// leaguetable

.leaguetable{
	
	background: url(/mediafiles/league_table.png);
	background-repeat:no-repeat;
	background-size: 1920px 1080px;
	
}

.teams {
	float: left;
	
	position: absolute;
	top: 320px;
	left: 320px;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}


	#team1 {
		font-size: 0.9em;
		display: block;
		padding-bottom: 15px;
		text-align: left;
	}
	
	#team2 {
		font-size: 0.9em;
		display: block;
		padding-top: 10px;
		text-align: left;
	}
	#team3 {
		font-size: 0.9em;
		display: block;
		padding-top: 28px;
		text-align: left;
	}
	#team4 {
		font-size: 0.9em;
		display: block;
		padding-top: 22px;
		text-align: left;
	}
	#team5 {
		font-size: 0.9em;
		display: block;
		padding-top: 28px;
		text-align: left;
	}
	#team6 {
		font-size: 0.9em;
		display: block;
		padding-top: 23px;
		text-align: left;
	}
	#team7 {
		font-size:0.9em;
		display: block;
		padding-top: 23px;
		text-align: left;
	}
	#team8 {
		font-size: 0.9em;
		display: block;
		padding-top: 28px;
		text-align: left;
	}
		#team9 {
		font-size: 0.9em;
		display: block;
		padding-top: 23px;
		text-align: left;
	}
		#team10 {
		font-size: 0.9em;
		display: block;
		padding-top: 25px;
		text-align: left;
	}



.pld {
	float: left;
	position: absolute;
	top: 605px;
	left: 810px;
	vertical-align: middle
	text-align: center;
	float: left;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#pld1 {
		font-size: 1em;
		display: block;
		padding-bottom: 23px;
		text-align: center;
	}
	#pld2 {
		font-size: 1em;
		display: block;
		padding-bottom: 22px;
		text-align: center;
	}
	#pld3 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#pld4 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#pld5 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#pld6 {
		font-size: 1em;
		display: block;
		padding-bottom: 21px;
		text-align: center;
	}
	#pld7 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#pld8 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#pld9 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#pld10 {
		font-size: 1em;
		display: block;
		padding-bottom: 2px;
		text-align: center;
	}
	

	.won {
	float: left;
	position: absolute;
	top: 605px;
	left: 922px;
	vertical-align: middle
	text-align: center;
	float: left;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#won1 {
		font-size: 1em;
		display: block;
		padding-bottom: 23px;
		text-align: center;
	}
	#won2 {
		font-size: 1em;
		display: block;
		padding-bottom: 22px;
		text-align: center;
	}
	#won3 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#won4 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#won5 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#won6 {
		font-size: 1em;
		display: block;
		padding-bottom: 21px;
		text-align: center;
	}
	#won7 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#won8 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#won9 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#won10 {
		font-size: 1em;
		display: block;
		padding-bottom: 2px;
		text-align: center;
	}


.draw {
	float: left;
	position: absolute;
	top: 605px;
	left: 1035px;
	vertical-align: middle
	text-align: center;
	float: left;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#draw1 {
		font-size: 1em;
		display: block;
		padding-bottom: 23px;
		text-align: center;
	}
	#draw2 {
		font-size: 1em;
		display: block;
		padding-bottom: 22px;
		text-align: center;
	}
	#draw3 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#draw4 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#draw5 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#draw6 {
		font-size: 1em;
		display: block;
		padding-bottom: 21px;
		text-align: center;
	}
	#draw7 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#draw8 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#draw9 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#draw10 {
		font-size: 1em;
		display: block;
		padding-bottom: 2px;
		text-align: center;
	}


.loss {
	float: left;
	position: absolute;
	top: 605px;
	left: 1148px;
	vertical-align: middle
	text-align: center;
	float: left;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#loss1 {
		font-size: 1em;
		display: block;
		padding-bottom: 23px;
		text-align: center;
	}
	#loss2 {
		font-size: 1em;
		display: block;
		padding-bottom: 22px;
		text-align: center;
	}
	#loss3 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#loss4 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#loss5 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#loss6 {
		font-size: 1em;
		display: block;
		padding-bottom: 21px;
		text-align: center;
	}
	#loss7 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#loss8 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#loss9 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#loss10 {
		font-size: 1em;
		display: block;
		padding-bottom: 2px;
		text-align: center;
	}


	.for {
	float: left;
	position: absolute;
	top: 605px;
	left: 1260px;
	vertical-align: middle
	text-align: center;
	float: left;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#for1 {
		font-size: 1em;
		display: block;
		padding-bottom: 23px;
		text-align: center;
	}
	#for2 {
		font-size: 1em;
		display: block;
		padding-bottom: 22px;
		text-align: center;
	}
	#for3 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#for4 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#for5 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#for6 {
		font-size: 1em;
		display: block;
		padding-bottom: 21px;
		text-align: center;
	}
	#for7 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#for8 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#for9 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#for10 {
		font-size: 1em;
		display: block;
		padding-bottom: 2px;
		text-align: center;
	}


	.against {
	float: left;
	position: absolute;
	top: 605px;
	left: 1372px;
	vertical-align: middle
	text-align: center;
	float: left;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#against1 {
		font-size: 1em;
		display: block;
		padding-bottom: 23px;
		text-align: center;
	}
	#against2 {
		font-size: 1em;
		display: block;
		padding-bottom: 22px;
		text-align: center;
	}
	#against3 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#against4 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#against5 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#against6 {
		font-size: 1em;
		display: block;
		padding-bottom: 21px;
		text-align: center;
	}
	#against7 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#against8 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#against9 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#against10 {
		font-size: 1em;
		display: block;
		padding-bottom: 2px;
		text-align: center;
	}


	.bonus {
	float: left;
	position: absolute;
	top: 605px;
	left: 1482px;
	vertical-align: middle
	text-align: center;
	float: left;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#bonus1 {
		font-size: 1em;
		display: block;
		padding-bottom: 23px;
		text-align: center;
	}
	#bonus2 {
		font-size: 1em;
		display: block;
		padding-bottom: 22px;
		text-align: center;
	}
	#bonus3 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#bonus4 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#bonus5 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#bonus6 {
		font-size: 1em;
		display: block;
		padding-bottom: 21px;
		text-align: center;
	}
	#bonus7 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#bonus8 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#bonus9 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#bonus10 {
		font-size: 1em;
		display: block;
		padding-bottom: 2px;
		text-align: center;
	}


	.points {
	float: left;
	position: absolute;
	top: 605px;
	left: 1595px;
	vertical-align: middle
	text-align: center;
	float: left;
	margin: 0;
	margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#points1 {
		font-size: 1em;
		display: block;
		padding-bottom: 23px;
		text-align: center;
	}
	#points2 {
		font-size: 1em;
		display: block;
		padding-bottom: 22px;
		text-align: center;
	}
	#points3 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#points4 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#points5 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#points6 {
		font-size: 1em;
		display: block;
		padding-bottom: 21px;
		text-align: center;
	}
	#points7 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
	#points8 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#points9 {
		font-size: 1em;
		display: block;
		padding-bottom: 20px;
		text-align: center;
	}
		#points10 {
		font-size: 1em;
		display: block;
		padding-bottom: 2px;
		text-align: center;
	}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



.team {
	padding-left: 890px;
	padding-top: 150px;
	font-family: 'Tusker Grotesk 4600';
	font-size: 1em;
}