.leaguetable
	
	
	//-<div class= "team"> 
	//-h2#backs9(v-html="visibleEntry.props.backs9")
	//-</div>
	<div class= "teams">
	span#team1(v-html="visibleEntry.props.team1")
	span#team2(v-html="visibleEntry.props.team2")
	span#team3(v-html="visibleEntry.props.team3")
	span#team4(v-html="visibleEntry.props.team4")
	span#team5(v-html="visibleEntry.props.team5")
	span#team6(v-html="visibleEntry.props.team6")
	span#team7(v-html="visibleEntry.props.team7")
	span#team8(v-html="visibleEntry.props.team8")
	span#team9(v-html="visibleEntry.props.team9")
	span#team10(v-html="visibleEntry.props.team10")
	</div>

	<div class= "pld">
	span#pld1(v-html="visibleEntry.props.pld1")
	span#pld2(v-html="visibleEntry.props.pld2")
	span#pld3(v-html="visibleEntry.props.pld3")
	span#pld4(v-html="visibleEntry.props.pld4")
	span#pld5(v-html="visibleEntry.props.pld5")
	span#pld6(v-html="visibleEntry.props.pld6")
	span#pld7(v-html="visibleEntry.props.pld7")
	span#pld8(v-html="visibleEntry.props.pld8")
	span#pld9(v-html="visibleEntry.props.pld9")
	span#pld10(v-html="visibleEntry.props.pld10")
	</div>

	<div class= "won">
	span#won1(v-html="visibleEntry.props.won1")
	span#won2(v-html="visibleEntry.props.won2")
	span#won3(v-html="visibleEntry.props.won3")
	span#won4(v-html="visibleEntry.props.won4")
	span#won5(v-html="visibleEntry.props.won5")
	span#won6(v-html="visibleEntry.props.won6")
	span#won7(v-html="visibleEntry.props.won7")
	span#won8(v-html="visibleEntry.props.won8")
	span#won9(v-html="visibleEntry.props.won9")
	span#won10(v-html="visibleEntry.props.won10")
	</div>

	<div class= "draw">
	span#draw1(v-html="visibleEntry.props.draw1")
	span#draw2(v-html="visibleEntry.props.draw2")
	span#draw3(v-html="visibleEntry.props.draw3")
	span#draw4(v-html="visibleEntry.props.draw4")
	span#draw5(v-html="visibleEntry.props.draw5")
	span#draw6(v-html="visibleEntry.props.draw6")
	span#draw7(v-html="visibleEntry.props.draw7")
	span#draw8(v-html="visibleEntry.props.draw8")
	span#draw9(v-html="visibleEntry.props.draw9")
	span#draw10(v-html="visibleEntry.props.draw10")
	</div>

	<div class= "loss">
	span#loss1(v-html="visibleEntry.props.loss1")
	span#loss2(v-html="visibleEntry.props.loss2")
	span#loss3(v-html="visibleEntry.props.loss3")
	span#loss4(v-html="visibleEntry.props.loss4")
	span#loss5(v-html="visibleEntry.props.loss5")
	span#loss6(v-html="visibleEntry.props.loss6")
	span#loss7(v-html="visibleEntry.props.loss7")
	span#loss8(v-html="visibleEntry.props.loss8")
	span#loss9(v-html="visibleEntry.props.loss9")
	span#loss10(v-html="visibleEntry.props.loss10")
	</div>

	<div class= "for">
	span#for1(v-html="visibleEntry.props.for1")
	span#for2(v-html="visibleEntry.props.for2")
	span#for3(v-html="visibleEntry.props.for3")
	span#for4(v-html="visibleEntry.props.for4")
	span#for5(v-html="visibleEntry.props.for5")
	span#for6(v-html="visibleEntry.props.for6")
	span#for7(v-html="visibleEntry.props.for7")
	span#for8(v-html="visibleEntry.props.for8")
	span#for9(v-html="visibleEntry.props.for9")
	span#for10(v-html="visibleEntry.props.for10")
	</div>

	<div class= "against">
	span#against1(v-html="visibleEntry.props.against1")
	span#against2(v-html="visibleEntry.props.against2")
	span#against3(v-html="visibleEntry.props.against3")
	span#against4(v-html="visibleEntry.props.against4")
	span#against5(v-html="visibleEntry.props.against5")
	span#against6(v-html="visibleEntry.props.against6")
	span#against7(v-html="visibleEntry.props.against7")
	span#against8(v-html="visibleEntry.props.against8")
	span#against9(v-html="visibleEntry.props.against9")
	span#against10(v-html="visibleEntry.props.against10")
	</div>

	<div class= "bonus">
	span#bonus1(v-html="visibleEntry.props.bonus1")
	span#bonus2(v-html="visibleEntry.props.bonus2")
	span#bonus3(v-html="visibleEntry.props.bonus3")
	span#bonus4(v-html="visibleEntry.props.bonus4")
	span#bonus5(v-html="visibleEntry.props.bonus5")
	span#bonus6(v-html="visibleEntry.props.bonus6")
	span#bonus7(v-html="visibleEntry.props.bonus7")
	span#bonus8(v-html="visibleEntry.props.bonus8")
	span#bonus9(v-html="visibleEntry.props.bonus9")
	span#bonus10(v-html="visibleEntry.props.bonus10")
	</div>

	<div class= "points">
	span#points1(v-html="visibleEntry.props.points1")
	span#points2(v-html="visibleEntry.props.points2")
	span#points3(v-html="visibleEntry.props.points3")
	span#points4(v-html="visibleEntry.props.points4")
	span#points5(v-html="visibleEntry.props.points5")
	span#points6(v-html="visibleEntry.props.points6")
	span#points7(v-html="visibleEntry.props.points7")
	span#points8(v-html="visibleEntry.props.points8")
	span#points9(v-html="visibleEntry.props.points9")
	span#points10(v-html="visibleEntry.props.points10")
	</div>