// team_sheetB


.left {
	float: left;
	position: absolute;
	top: 370px;
	left: 370px;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}


	#fwd1 {
		font-size: 1.2em;
		display: block;
		padding-bottom: 10px;
		text-align: left;
	}
	
	#fwd2 {
		font-size: 1.2em;
		display: block;
		padding-bottom: 12px;
		text-align: left;
	}
	#fwd3 {
		font-size: 1.2em;
		display: block;
		padding-bottom: 12px;
		text-align: left;
	}
	#fwd4 {
		font-size: 1.2em;
		display: block;
		padding-bottom: 16px;
		text-align: left;
	}
	#fwd5 {
		font-size: 1.2em;
		display: block;
		padding-bottom: 10px;
		text-align: left;
	}
	#fwd6 {
		font-size: 1.2em;
		display: block;
		padding-bottom: 10px;
		text-align: left;
	}
	#fwd7 {
		font-size:1.2em;
		display: block;
		padding-bottom: 8px;
		text-align: left;
	}
	#fwd8 {
		font-size: 1.2em;
		display: block;
		padding-bottom: 10px;
		text-align: left;
	}



.right {
	float: right;
	position: absolute;
	top: 362px;
	right: 320px;
	font-family: 'FS Hackney Trial Regular';
	font-style: Bold;
	font-weight: Bold;
}

	#backs1 {
		font-size: 1.2em;
		display: block;
		padding-top: 10px;
		text-align: left;
	}
	#backs2 {
		font-size: 1.2em;
		display: block;
		padding-top: 10px;
		text-align: left;
	}
	#backs3 {
		font-size: 1.2em;
		display: block;
		padding-top: 10px;
		text-align: left;
	}
	#backs4 {
		font-size: 1.2em;
		display: block;
		padding-top: 10px;
		text-align: left;
	}
	#backs5 {
		font-size: 1.2em;
		display: block;
		padding-top: 12px;
		text-align: left;
	}
	#backs6 {
		font-size: 1.2em;
		display: block;
		padding-top: 12px;
		text-align: left;
	}
	#backs7 {
		font-size: 1.2em;
		display: block;
		padding-top: 12px;
		text-align: left;
	}
	#backs8 {
		font-size: 1.2em;
		display: block;
		padding-top: 10px;
		text-align: left;
	}
	




.team_sheetB{
	
	background: url(/mediafiles/glocester_team_sheet.png);
	background-repeat:no-repeat;
	background-size: 1920px 1080px;
	
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



.team {
	padding-left: 890px;
	padding-top: 150px;
	font-family: 'Tusker Grotesk 4600';
	font-size: 1em;
}