.team_sheetB
	
	
	//-<div class= "team"> 
	//-h2#backs9(v-html="visibleEntry.props.backs9")
	//-</div>
	<div class= "left">
	span#fwd1(v-html="visibleEntry.props.fwd1")
	span#fwd2(v-html="visibleEntry.props.fwd2")
	span#fwd3(v-html="visibleEntry.props.fwd3")
	span#fwd4(v-html="visibleEntry.props.fwd4")
	span#fwd5(v-html="visibleEntry.props.fwd5")
	span#fwd6(v-html="visibleEntry.props.fwd6")
	span#fwd7(v-html="visibleEntry.props.fwd7")
	span#fwd8(v-html="visibleEntry.props.fwd8")
	</div>

	<div class= "right">
	span#backs1(v-html="visibleEntry.props.backs1")
	span#backs2(v-html="visibleEntry.props.backs2")
	span#backs3(v-html="visibleEntry.props.backs3")
	span#backs4(v-html="visibleEntry.props.backs4")
	span#backs5(v-html="visibleEntry.props.backs5")
	span#backs6(v-html="visibleEntry.props.backs6")
	span#backs7(v-html="visibleEntry.props.backs7")
	span#backs8(v-html="visibleEntry.props.backs8")
	</div>

