.ht_bug

	<div class="score_bug_1">
	span#score1(v-html="visibleEntry.props.score1")
	</div>

	<div class="score_bug_2">
	span#score2(v-html="visibleEntry.props.score2")
	</div>
   
	



